---
layout: default
---

{% include base_path %}

<div class="homepage-wrapper" style="background-color: rgb(144, 26, 30); min-height: 100vh; padding-top: 80px;">
  <div class="homepage-content">
    <div class="homepage-layout">
      <div class="homepage-profile-image-wrapper">
        <img src="{{ base_path }}/images/profile_edited.PNG" alt="Christian Fogel Henneberg" class="homepage-profile-image">
      </div>
      <div class="homepage-text-content">
        <h1 class="homepage-name">Christian Fogel Henneberg</h1>
        <div class="homepage-bio">
          {{ content }}
        </div>
        <div class="homepage-buttons">
          <a href="{{ base_path }}/about/" class="btn-homepage btn-read-more">Read more ></a>
          <a href="{{ base_path }}/files/CV_CFH.pdf" class="btn-homepage btn-download-cv">Download CV</a>
        </div>
      </div>
    </div>
  </div>
</div>
