---
layout: default
---

{% include base_path %}

<div class="homepage-wrapper" style="background-color: rgb(144, 26, 30); min-height: 100vh; padding-top: 80px;">
  <div class="homepage-content">
    <div class="homepage-profile">
      <img src="{{ base_path }}/images/profile.png" alt="Christian Fogel Henneberg" class="homepage-profile-image">
      <h1 class="homepage-name">Christian Fogel Henneberg</h1>
      <div class="homepage-bio">
        {{ content }}
      </div>
      <div class="homepage-buttons">
        <a href="{{ base_path }}/about/" class="btn-homepage btn-read-more">Read more ></a>
        <a href="{{ base_path }}/files/cv.pdf" class="btn-homepage btn-download-cv" download>Download CV</a>
      </div>
    </div>
  </div>
</div>

