/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include clearfix;
  background-color: var(--global-footer-bg-color);
  color: var(--global-text-color-light);

  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  /* sticky footer fix start */
  position: absolute;
  bottom: 0em;
  height: auto;
  /* sticky footer fix end */

  margin-top: 3em;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
  border-top: 1px solid var(--global-dark-border-color);

  footer {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 100%;
    padding: 0 1em 1em;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .fas,
  .fab,
  .far,
  .fal {
    color: var(--global-text-color-light);
  }
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em;
  align-items: flex-start;
  padding-top: 1.5em;
}

.footer-column {
  flex: 1 1 220px;
}

.footer-brand {
  .footer-name {
    font-family: $sans-serif;
    font-size: $type-size-4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 0.3em;
  }

  .footer-title {
    font-family: $sans-serif;
    font-size: $type-size-6;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    margin-bottom: 1.2em;
  }

  .footer-copy {
    font-size: $type-size-7;
  }
}

.footer-heading {
  font-family: $sans-serif;
  font-size: $type-size-6;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin-bottom: 0.75em;
}

.footer-sections {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 0.4em;
    font-size: $type-size-6;
  }
}

.footer-contact-line {
  font-size: $type-size-6;
  margin-bottom: 0.5em;
}

.footer-social {
  margin-top: 1em;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    margin-right: 0.5em;
    border-radius: 50%;
    border: 1px solid var(--global-text-color-light);
    font-size: $type-size-6;
    transition: $global-transition;

    &:hover {
      background-color: var(--global-text-color-light);
      color: var(--global-footer-bg-color);
      text-decoration: none;
    }
  }
}
